@font-face {
    font-family: 'JackeyFont';
    src: url("./main.ttf");
}
.label {
    -fx-font-family: 'JackeyFont';
    
}
.button {
    -fx-font-family: 'JackeyFont';
    -fx-background-color : 'd5e2cb';
}
